<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   
   <a href="https://www.facebook.com/kent.chen414"><img align="absbottom" 
	   src="/files/facebook.jpg" width="25" height="25"/></a>           
   <a href="http://www.linkedin.com/in/kentschen"><img align="absbottom" 
		src="/files/likedin.jpg" width="25" height="25"/></a>
   <a href="mailto:kent.chen414@gmail.com"><img align="absbottom" 
		src="/files/gmail.ico" width="25" height="25" /></a>
   <a href="https://github.com/kentschen"><img align="absbottom" 
		src=/files/"github.jpg" width="25" height="25" /></a>
   
   <!--   
   <li><a href="mailto:kent.chen414@gmail.com">email</a></li> 
   <li><a href="https://github.com/kentschen">github.com/kentschen</a></li>
   -->
   </ul>
  </footer>
  </body>

</html>
