<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name-"viewport" content="width-device-width"> 
    <title>{{ page.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  	<script src = "javascripts/vendor/custom.modernizr.is"></script>
  </head>


  <body>
  <h1> Kent S. Chen </h1>
    <nav>
<ul>	
<li><a href="/">HOME</a></li>
<li><a href="/about">ABOUT</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/blog">BLOG</a></li>
<li><a href="/vlog">VLOG</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

<!--add in slideshow --> 

<title>W3.CSS</title>


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>
<div class="w3-content w3-display-container">
  <img class="mySlides" src="/files/me_20180219" style="width:100%">
  <img class="mySlides" src="/files/me_20180318" style="width:100%">
  <img class="mySlides" src="/files/me_20180323" style="width:100%">

  <button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1)">&#10095;</button>
</div>

<script>
var slideIndex = 0;
carousel();

function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 4000); // Change image every 4 seconds
}
</script>

</body>


<!--end of slideshow --> 









</div>
  
  <footer>
   <ul>
   <div class="padded">
   	&copy; 2018
   	Kent S. Chen
   	<span>|<span>
   	 Los Angeles, CA
   	<span>|<span>
   	 <a href="https://www.facebook.com/kent.chen414"><img 
		 align="absbottom" 
	   src="/files/facebook.jpg" width="20" height="20"/></a>           
   	 <a href="http://www.linkedin.com/in/kentschen"><img align="absbottom" 
		src="/files/linkedin.jpg" width="20" height="20"/></a>
   	 <a href="http://www.twitter.com/kentschen_"><img align="absbottom" 
		src="/files/twitter.jpg" width="20" height="20"/></a>
  	 <a href="http://www.instagram.com/kentschen"><img align="absbottom" 
	src="/files/instagram.png" width="20" height="20"/></a>	
	 <a href="mailto:kent.chen414@gmail.com"><img align="absbottom" 
		src="/files/gmail.ico" width="20" height="20" /></a>
   	 <a href="https://github.com/kentschen"><img align="absbottom" 
		src="/files/github.jpg" width="20" height="20" /></a>
   
   <!--   
   <li><a href="mailto:kent.chen414@gmail.com">email</a></li> 
   <li><a href="https://github.com/kentschen">github.com/kentschen</a></li>
   -->
   </ul>
  </footer>
  </body>

</html>
